{% extends "BlogBundle::layout.html.twig" %}
{% block content %} 
    <div class="col col-lg-6">
        {% for message in app.session.flashbag.get('status') %}        
            <div class="{{message.class}}">{{message.message}}</div>
        {% endfor %}
        <a href="{{path("blog_add_tag")}}" class="btn btn-success">Añadir otro Tag</a>
        <hr/>
        <table class="table table-striped">
            <tr><th colspan="2">Listado de Tags existentes</th></tr>
            <tr>
                <td>Nombre</td>
                <td>Descripción</td>
                <td align="center">Opciones</td>
            </tr>
            {% for tag in tags %}
                <tr>
                    <td>{{tag.name}}</td> 
                    <td>{{tag.description}}</td>                    
                    <td align="center"> 
                        {% if tag.entryTag | length == 0 %} 
                            <a href="{{path("blog_delete_tag",{"id":tag.id})}}"><i class="fa fa-trash"></i></a>
                        {% else %}    
                           <p>Etiqueta en uso</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        
    </div>         
    <div class="clearfix"></div>

{% endblock %}
