{% extends "BlogBundle::layout.html.twig" %}
{% block menu %}
    {% include "BlogBundle:Category:menu.categories.html.twig" with {'categories':categories} %}
{% endblock %}

{% block  content %}
    
{% for entry in entries %}        
    <div class="col col-lg-11" >
        <p><strong>{{ entry.title | upper }}</strong></p>
        <p> <img width="200px" src="{{ asset("uploads/"~entry.image) }}" </p>
        <p> {{ entry.content }} </p>
        <p>{{ entry.category.name }}</p>
        {% for et in entry.entryTag %}      
            <em>{{ et.tag.name }}</em>
            
        {% endfor %}
        <p>Escrito por: {{entry.user.name}} </p>
        {% if (app.user.id is defined) and (entry.user.id == app.user.id) %}
            <a href="{{path("blog_delete_entry",{"id":entry.id})}}" class="btn btn-danger">Eliminar Entrada</a>
            <a href="{{path("blog_edit_entry",{"id":entry.id})}}" class="btn btn-danger">Editar Entrada</a>
        {% endif %}
        <hr/>
    </div>
    <div class="clearfix"></div>
{% endfor %}

{% if pagesCount > 0 %}
    <ul class="pagination">        
            {% if (page == 1) %}
            {% else %}   
                {% set page = page -1 %}
            {% endif %}             
            <li> <a href="{{path("blog_read_category", {"id":category.id,"page": page })}}">&laquo; </a>
            {% for i in 1..pagesCount %}        
                <li><a href="{{path("blog_read_category", {"id":category.id,"page": i })}}">{{i}}</a> </li>
            {% endfor %}

            {% if (page_m == pagesCount) %}
            {% else %}   
                {% set page_m = page_m +1 %}
            {% endif %} 

        <li> <a href="{{path("blog_read_category", {"id":category.id,"page": page_m })}}">&raquo; </a>
    </ul>
{% endif %}

{% endblock %}



    
